<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.app.asd.Controller.loginController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>linkController</servlet-name>
    <servlet-class>com.app.asd.Controller.linkController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>signupController</servlet-name>
    <servlet-class>com.app.asd.Controller.signupController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>editController</servlet-name>
    <servlet-class>com.app.asd.Controller.editController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>signupController</servlet-name>
    <url-pattern>/signupController</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>editController</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>linkController</servlet-name>
    <url-pattern>/linkController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>checkEmailUnique</servlet-name>
    <servlet-class>com.app.asd.Controller.checkEmailUniqueController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>checkEmailUnique</servlet-name>
    <url-pattern>/checkEmailUnique</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.logoutController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cardManagementController</servlet-name>
    <servlet-class>com.app.asd.Controller.cardManagementController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cardManagementController</servlet-name>
    <url-pattern>/cardManagementController</url-pattern>
  </servlet-mapping>

</web-app>

