<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>

  <servlet>
    <servlet-name>loginController</servlet-name>
    <servlet-class>com.app.asd.Controller.loginController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>linkController</servlet-name>
    <servlet-class>com.app.asd.Controller.linkController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>signupController</servlet-name>
    <servlet-class>com.app.asd.Controller.signupController</servlet-class>
  </servlet>

  <servlet>
    <servlet-name>editController</servlet-name>
    <servlet-class>com.app.asd.Controller.editController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>loginController</servlet-name>
    <url-pattern>/loginController</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>signupController</servlet-name>
    <url-pattern>/signupController</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>editController</servlet-name>
    <url-pattern>/editProfile</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>linkController</servlet-name>
    <url-pattern>/linkController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>checkEmailUnique</servlet-name>
    <servlet-class>com.app.asd.Controller.checkEmailUniqueController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>checkEmailUnique</servlet-name>
    <url-pattern>/checkEmailUnique</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>logoutServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.logoutController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>logoutServlet</servlet-name>
    <url-pattern>/logoutServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cardManagementController</servlet-name>
    <servlet-class>com.app.asd.Controller.cardManagementController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>cardManagementController</servlet-name>
    <url-pattern>/cardManagementController</url-pattern>
  </servlet-mapping>
 
 <servlet>
    <servlet-name>adminHomeController</servlet-name>
    <servlet-class>com.app.asd.Controller.adminHomeController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminHomeController</servlet-name>
    <url-pattern>/adminHomeController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>adminHomeServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.adminHomeServlet</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>adminHomeServlet</servlet-name>
    <url-pattern>/adminHomeServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>editInfoController</servlet-name>
    <servlet-class>com.app.asd.Controller.editInfoController</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>editInfoController</servlet-name>
    <url-pattern>/editInfoController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>cardStatusServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.cardStatusServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cardStatusServlet</servlet-name>
    <url-pattern>/cardStatusServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>paymentServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.paymentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>paymentServlet</servlet-name>
    <url-pattern>/paymentServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>processingServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.processingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processingServlet</servlet-name>
    <url-pattern>/processingServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>invoiceServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.invoiceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>invoiceServlet</servlet-name>
    <url-pattern>/invoiceServlet</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>transferNextCard</servlet-name>
    <servlet-class>com.app.asd.Controller.transferNextCard</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>transferNextCard</servlet-name>
    <url-pattern>/transferNextCard</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>processingTransferServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.processingTransferServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>processingTransferServlet</servlet-name>
    <url-pattern>/processingTransferServlet</url-pattern>
  </servlet-mapping>
 
  <servlet>
    <servlet-name>staffControllerServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.staffController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffControllerServlet</servlet-name>
    <url-pattern>/staffController</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>staffInsertControllerServlet</servlet-name>
    <servlet-class>com.app.asd.Controller.staffInsertController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffInsertControllerServlet</servlet-name>
    <url-pattern>/staffInsert</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>staffDeleteController</servlet-name>
    <servlet-class>com.app.asd.Controller.staffDeleteController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffDeleteController</servlet-name>
    <url-pattern>/staffDelete</url-pattern>
  </servlet-mapping>

  <servlet>
    <servlet-name>staffUpdateController</servlet-name>
    <servlet-class>com.app.asd.Controller.staffUpdateController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>staffUpdateController</servlet-name>
    <url-pattern>/staffUpdate</url-pattern>
  </servlet-mapping>

</web-app>

